<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
  
    <CustomAction
      Id='RegisterService'
      Impersonate="no"
      Execute="deferred" 
      FileKey='nssm'
      ExeCommand='install "!(loc.ApplicationName) Service" "[INSTALLDIR]node.exe" "\"[INSTALLDIR]server.js\""'
      Return='asyncWait' />

    <CustomAction
      Id='SetPort'
      Impersonate="no"
      Execute="deferred" 
      FileKey='nssm'
      ExeCommand='set "!(loc.ApplicationName) Service" AppEnvironmentExtra PORT=[PORT]'
      Return='asyncWait' />

    <CustomAction
      Id='SetServiceDescription'
      Impersonate="no"
      Execute="deferred" 
      FileKey='nssm'
      ExeCommand='set "!(loc.ApplicationName) Service" Description !(loc.Description)'
      Return='asyncWait' />

  </Fragment>
</Wix>